<div id="tab-entries" class="hidden">
    <h1>{{ 'Entries'|t }}</h1>

    {% for sectionName, section in moduleInformation.sections %}
        {% if attribute(moduleInformation.entries, sectionName) is defined %}
            {% set settings = attribute(moduleInformation.entries, sectionName) %}
            {% set installEntries = settings.installTestEntries is defined ? settings.installTestEntries : false %}
            {% set totalEntries = settings.totalTestEntries is defined ? settings.totalTestEntries : 1 %}

            <hr>
            <h2>{{ section.name }} ({{ section.type }}): {{ section.label }}</h2>

            {{ forms.checkboxField({
                label: 'Install dummy entries'|t,
                name: sectionName ~ 'installTestEntries',
                value: 1,
                checked: installEntries
            }) }}

            {{ forms.selectField({
                label: 'The amount of entries to install'|t,
                name: sectionName ~ 'totalTestEntries',
                value: totalEntries,
                options: range(0, 10)
            }) }}
        {% endif %}
    {% endfor %}
</div>