{% set installedFieldTypes = craft.fields.getAllFieldTypes() %}

<div id="tab-fields" class="hidden">
    <h1>{{ 'Fields'|t }}</h1>
    <p>{{ 'Fields that\'ll be installed, if not already available'|t }}</p>
    <hr>

    <table id="information-fields" class="data fullwidth collapsible">
        <thead>
            <th scope="col">{{ 'Name'|t }}</th>
            <th scope="col">{{ 'Handle'|t }}</th>
            <th scope="col">{{ 'Type'|t }}</th>
            <th scope="col">{{ 'Group'|t }}</th>
        </thead>
        <tbody>
            {% for fieldLayoutName, fields in moduleInformation.fields %}
                {% for field in fields %}
                    <tr data-name="{{ fieldLayoutName }}-{{ field.name }}">
                        <th data-title="Naam">
                            {{ field.name }}
                        </th>
                        <td data-title="Handle">
                            {{ field.handle }}
                        </td>
                        <td data-title="Type">
                            <span class="light{% if attribute(installedFieldTypes, field.type) is not defined %} error{% endif %}">{{ field.type }}</span>
                        </td>
                        <td data-title="Groep">
                            <span class="light">{{ fieldLayoutName }}</span>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>