<hr>

<h2>{{ 'Installation information'|t }}</h2>

<table id="information-main" class="data fullwidth collapsible">
    <thead>
        <th scope="col">{{ 'Name'|t }}</th>
        <th scope="col">{{ 'Value'|t }}</th>
    </thead>
    <tbody>
        {% for info in moduleInformation.main %}
            <tr data-name="{{ info.name }}">
                <th data-title="Naam">
                    {{ info.name }}
                </th>
                <td data-title="Waarde">
                    <span class="light">{{ info.value }}</span>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>