<div id="tab-sections" class="hidden">
    <h1>{{ 'Sections'|t }}</h1>
    <p>{{ 'The sections that\'ll be installed.'|t }}</p>
    <hr>

    {% for sectionName, section in moduleInformation.sections %}
        {{ forms.textField({
            label: section.label ~ ' (' ~ section.type ~ '): ' ~ section.name,
            instructions: section.info,
            name: sectionName,
            value: section.name
        }) }}
        {{ forms.textField({
            label: 'URL Format'|t,
            instructions: 'What the entry URLs should look like.'|t,
            name: sectionName ~ 'UrlFormat',
            value: section.urlFormat
        }) }}
        <hr>
    {% endfor %}

    {{ forms.textField({
        label: 'Template group name'|t,
        instructions: 'This value will be used to create a folder with the necessary templates.'|t,
        name: 'templateGroup',
        value: moduleInformation.templateGroup.value
    }) }}
</div>